pipeline/PL_FOREACH_DEPENDIENTE.json
{
	"name": "PL_FOREACH_DEPENDIENTE",
	"properties": {
		"activities": [
			{
				"name": "Generar Rango de iteraccion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT YEAR(fechaFactura) as anio\nFROM dbo.Factura",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_TABLE_OUTPUT",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IterarAnios",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Generar Rango de iteraccion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Generar Rango de iteraccion').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy datos por anio",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM dbo.Factura\nWHERE YEAR(fechaFactura)=@{item().anio}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AZURE_INPUT",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_PARQUET_GENERICO_HC",
									"type": "DatasetReference",
									"parameters": {
										"directorio": {
											"value": "FACTURAS/@{item().anio}",
											"type": "Expression"
										},
										"nombrearchivo": {
											"value": "facturas_@{item().anio}.parquet",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "INTERACCION Y FLUJO"
		},
		"annotations": []
	}
}