pipeline/PL_FOREACH.json
{
	"name": "PL_FOREACH",
	"properties": {
		"activities": [
			{
				"name": "Set lista",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "listaValores",
					"value": {
						"value": "@range(1,5)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set lista",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('listaValores')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "auxiliar",
								"value": {
									"value": "@string(item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"listaValores": {
				"type": "Array"
			},
			"acumulador": {
				"type": "String"
			},
			"auxiliar": {
				"type": "String"
			}
		},
		"folder": {
			"name": "INTERACCION Y FLUJO"
		},
		"annotations": []
	}
}