pipeline/PL_MANEJO_FECHAS.json
{
	"name": "PL_MANEJO_FECHAS",
	"properties": {
		"activities": [
			{
				"name": "Set fechaActual",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fechaActual",
					"value": {
						"value": "@addhours(utcNow(),pipeline().globalParameters.utc_ec)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set InicioMes",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set fechaActual",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "iniciomes",
					"value": {
						"value": "@startOfMonth(variables('fechaActual'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"fechaActual": {
				"type": "String"
			},
			"iniciomes": {
				"type": "String"
			},
			"finmes": {
				"type": "String"
			}
		},
		"folder": {
			"name": "INTERACCION Y FLUJO"
		},
		"annotations": []
	}
}