pipeline/PL_PETICION_WEB.json
{
	"name": "PL_PETICION_WEB",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://worldclockapi.com/api/json/utc/now",
					"method": "GET"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "diasemana",
					"value": {
						"value": "@string(activity('Web1').output.dayOfTheWeek)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"diasemana": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Web Services"
		},
		"annotations": []
	}
}